body {
    display:flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    width: 1200px;
    height: 1920px;
    margin-left: 350px;
}   

.menu {
    display: flex;
    padding: 16px;
    justify-content: space-between;
   
}

.header {
    background-color: #1F2937;
    height: 500px;
}

.content1 {
    width: 480px;
    height: 350px;
    padding: 16px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    
}

.content1 button {
    border-radius: 25px;
    background-color: #3882F6;
    margin-top: 16px;
    color: #E5E7EB;
    font-weight: 900;
    width: fit-content;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-left: 80px;
}

a {
    color: #E5E7EB;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 16px;
    margin-right: 80px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

.big_img {
    width: 340px;
    height: 250px;
    margin-left: 700px;
    margin-top: -340px;
    display: flex;
}

.container1 {
    background-color: #e5e7eb;
    gap: 32px;
}

.random-info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 32px;
}

.subtext {
    color: #1F2937;
    font-size: 18px;
}

.image {
    border: 2px solid #3882F6;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.container2 {
    background-color: #E5E7EB;
}

.paragraph {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.container3 {

}

.container3-box {
    background-color: #3882F6;
    width: 400px;
    height: 60px;
    padding: 32px;
}

.container3 button {
    background-color: #3882F6;
}


